body {font-weight:bold; font-family: Tahoma; font-size: 14px; }
h1 { color: purple; text-align: center; }
h2 { color:#1b00b4; text-align:center}
p { text-align: justify; color: #0025fa;}ι
li { color: rgb(0, 4, 221); text-align: center; } 
strong { color: rgb(29, 0, 196); }9); text-align: center; } 